* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$backgroud: #f2f5f9;
$borderColor: #cfd6e4;
$color: #2985f7;
$color: #2985f7;

html,
body {
  height: 100%;
}

body {
  background: #fff;
  font-size: 14px;
}

.wrap {
  padding-top: 64px;
  height: 100%;
  header {
    position: fixed;
    height: 64px;
    line-height: 64px;
    background: #f2f5f9;
    width: 100%;
    top: 0;
    border-bottom: 1px solid $borderColor;
    padding: 0 16px;
  }

  .container {
    position: relative;
    padding-left: 360px;
    height: calc(100% - 4px);
    .list-content {
      position: absolute;
      left: 0;
      width: 360px;
      height: 100%;
      overflow: auto;

      .demo-item {
        padding: 16px;
        text-align: left;
        cursor: pointer;
        color: $color;
        text-decoration: none;
        display: block;

        &.selected {
          color: darken($color, 50%);

          &.active {
            background: $color;
            color: #fff;
          }
        }

        &:hover {
          background: $color;
          color: #fff;
        }
      }
    }
    .aframe-content {
      width: 100%;
      height: 100%;
      padding: 16px;

      #demoAframe {
        width: 100%;
        border: 0;
        height: 100% !important;
      }
    }
  }
}
